.row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.col{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 20px;
}